<h1>Books</h1>
<div>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <p>name:<%= @user.name %></p>
  <p>introduction:<%= @user.introduction %></p>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %>
    <i class="fa-solid fa-user-gear" style="color: #6c757d;"></i></p>
</div>

<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag 'no_image.jpg' %></p>
  <p>Title：<%= link_to book.title, book_path(book.id) %></p>
  <p>Opinion：<%= book.opinion %></p>
</div>
<% end %>

