<div class="container">
  <div class="row">

<!--ユーザー-->
<div class="d-flex flex-column mx-auto">
    <div class="col-md-12 mt-3 mb-5">

<h2>User info</h2>

<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user do |f| %>
  <div class="mb-3"><label for="inputName">Name</label><br>
  <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control" %></div>
  <div class="mb-3"><label for="inputImage">Image</label><br>
  <%= f.file_field :profile_image, accept: "image/*" %></div>
  <div class="mb-3"><label for="inputIntroduction">Introduction</label><br>
  <%= f.text_field :introduction, id:"inputIntroduction", class: "form-control" %></div>
  <%= f.submit "Update User", class: 'btn btn-secondary' %>
<% end %>