
<div class="container">

  <div class="row">
<%= render 'error', books: @books %>

    <div class="col-lg-4">
      <%= render 'users/user', users: @users %>



<h1>New Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @book do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>
    </div>



    <div class="col-lg-8">


<table class="table table-striped">

<div>

  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= image_tag current_user.get_profile_image(100, 100) %></td>
    <td><%= current_user.name %></td>
    <td><%= link_to "Show", user_params %></td>
  </tr>
  <% end %>
</div>
</table>

    </div>
  </div>
</div>