<div class="container">
  <div class="row">
  <div class="col-lg-12">
<h2>Editing Book</h2>
  <%= render 'books/error', books: @books %>

<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Update Book' %>
<% end %>

<%= link_to "Show", book_path(@book.id) %> |
<a href="/books">Back</a>

</div>
</div></div>