<div class="container">
  <div class="row">

<!--book-->
<div class="d-flex flex-column mx-auto">
    <div class="col-md-12 mt-3 mb-5">

<h1>Editing Book</h1>
  <%= render 'books/error', books: @books %>

<%= form_with model: @book do |f| %>
  Title<br>
  <p><%= f.text_field :title, class: "form-control" %></p>

  Opinion<br>
  <p><%= f.text_area :body, class: "form-control" %></p>
  <%= f.submit 'Update Book', class: 'btn btn-success mb-2' %>
<% end %>

<%= link_to "Show", book_path(@book.id) %> |
<a href="/books">Back</a>

</div>
</div></div>