<div>
  <%= flash[:notice] %>
</div>


<h2>New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div>
<%= form_with model: @book do |f| %>
    Title<br>
    <p><%= f.text_field :title %></p>
    Opinion<br>
    <p><%= f.text_area :body %></p>
  <%= f.submit 'Create Book', class: 'btn btn-success' %>
<% end %>
</div>