<div>
  <%= flash[:notice] %>
</div>

<div class="container">
    <%= render 'books/error', books: @books %>
<div class="row mt-3">


    <div class="col-md-3">

<h2>User info</h2>
  <table class="table">
  <%= image_tag @book.user.get_profile_image(100, 100) %>
  <tr>
  <th>name</th>
  <th><%= @book.user.name %></th>
  </tr>
  <tr>
  <th>introduction</th>
  <th><%= @book.user.introduction %></th>
  </tr>
  </table>

  <% if @user == current_user %>
    <%= link_to edit_user_path(@user), method: :get do%>
      <a href="/users/<%= current_user.id %>/edit">
        <button type="button" class="btn btn-outline-secondary btn-block">
        <i class="fa-solid fa-user-gear"></i></button></a>
    <% end %>
  <% end %>


<!--新規投稿-->
<%= render 'books/new', books: @books %>
    </div>


    <div class="col-md-8 offset-md-1">


<table class="table">

<div>
  <h2>Book detail</h2>
  <tr>
    <td><%= image_tag @book.user.get_profile_image(100, 100) %><br>
    <%= link_to @book.user.name, user_path(@user.id) %></td>
    <td><%= @book.title%></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
    <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success' %></td>
    <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-danger' %></td>
    <% end %>
  </tr>
</div>
</table>
