<div>
  <%= flash[:notice] %>
</div>

<div class="container">
    <%= render 'books/error', books: @books %>
<div class="row mt-3">


    <div class="col-md-3">
  <h2>User info</h2>
  <%= image_tag @book.user.get_profile_image(100, 100) %>
  <table class="table">
  <tr>
    <td>name</td>
    <td><%= @book.user.name %></td>
  </tr>
  <tr>
    <td>introduction</td>
    <td><%= @book.user.introduction %></td>
  </tr>
    <% if @user == current_user %>
    <%= link_to "編集", edit_user_path(@user), class: 'nav-link btn btn-outline-secondary' do %>
              <i class="fa-solid fa-user-gear"></i>
              <% end %>
    <% end %>
</table>


<!--新規投稿-->
<%= render 'books/new', books: @books %>
    </div>


    <div class="col-md-8 ml-auto">


<table class="table">

<div>
  <h2>Book detail</h2>
  <tr>
    <td><%= image_tag @book.user.get_profile_image(100, 100) %><br>
    <%= link_to @book.user.name, user_path(@user.id) %></td>
    <td><%= @book.title%></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
    <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-success' %></td>
    <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-danger' %></td>
    <% end %>
  </tr>
</div>
</table>
